.navegacao {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    position: fixed; 
    top: 0;
    width: 100%;
    border-bottom-left-radius: 50rem;
    border-bottom-right-radius: 50rem;
    background-color: white; 
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

 
@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}
